h1 {
	color: white;
	background-color: black;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	color: aqua;
	background-color: #111;
}

input[type=radio] {
	display: none;
}

form label {
	display: block;
	padding: 14px 16px;
}

form label:hover {
	color: aqua;
	background-color: #111;
}

input[type=radio]:checked + label {
	color: aqua;
	background-color: #111;
}

input[type=submit] {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
