body {
	background: white url("images/background0.jpg") no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li a {
	display: block;
	color: green;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	color: aqua;
	background-color: #111;
}
